/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

* {
	-main-color: '#02B6CD';
  	-soft-color: '#E2F2F5';
  	-soft-color2: '#DDEDF0';
  	-soft-color2-selected: '#CAE1E6';
  	-almost-black-color: '#434345';
  	-hover-almost-black-color: '#313333';
  	-black-color: '#231F20';
  	-hover-black-color: '#000000';
  	-red-color: '#E81123'
}

.softBackgroundParent {
	-fx-background-color: -soft-color;
}

.witeBackgroundParent {
	-fx-background-color: white;
}

.topBar {
	-fx-background-color: -soft-color2;
}

.closeButton:hover {
	-fx-background-color: -red-color;
	-fx-background-radius: 2.0px 2.0px 2.0px 2.0px;
}

.minimizeButton:hover {
	-fx-background-color: -soft-color2-selected;
	-fx-background-radius: 2.0px 2.0px 2.0px 2.0px;
}

.tab {
	-fx-tab-min-width: 100.0;
}

.menu {
	-fx-background-color: -almost-black-color;
	-fx-pref-width: 60.0;
	
}

.menuButton {
	-fx-pref-width: 300.0;
	-fx-pref-height: 60.0;
	-fx-background-radius: 0.0px 0.0px 0.0px 0.0px;
}

.menuButton:hover {
	-fx-background-color: -hover-almost-black-color;
	-fx-border-width: 0.0px 0.0px 0.0px 3.0px;
	-fx-border-color: -soft-color;
	-fx-border-style: solid;
}

.selectedMenuButton {
	-fx-pref-width: 300.0;
	-fx-pref-height: 60.0;
	-fx-background-color: -black-color;
	-fx-border-width: 0.0px 0.0px 0.0px 3.0px;
	-fx-border-color: -main-color;
	-fx-border-style: solid;
}

.selectedMenuButton:hover {
	-fx-background-color: -hover-black-color;
}

.expandMenuButton:hover {
	-fx-background-color: -hover-almost-black-color;
	-fx-border-width: 0.0px 0.0px 0.0px 3.0px;
	-fx-border-color: -soft-color;
	-fx-border-style: solid;
}

.pageTitle {
	-fx-background-color: -almost-black-color;
	-fx-background-radius: 0.0px 0.0px 30.0px 30.0px;
	-fx-border-radius: 0.0px 0.0px 30.0px 30.0px
}

.buttonMainColor {
	-fx-background-color: -main-color;
	-fx-background-radius: 5.0px 5.0px 5.0px 5.0px;
	-fx-pref-width: 100.0;
	-fx-text-fill: white;
}

.labelMenuButtons {
	-fx-text-fill: -soft-color;
	-fx-ellipsis-string: '';
}

.labelMenuSelectedButton {
	-fx-text-fill: white;
	-fx-ellipsis-string: '';
}

